/* background-color: #fff; */
    /* background-color: #ecc5c5;  */

    header {
        background-color: #d32f2f;
        /* border-radius: 10px; */
      
        /* background-image: url("/images/navbar1.jpg"); */
        /* background: linear-gradient(rgba(226, 211, 239, 0.9), rgba(18 ,9 ,117, 0.30)); */
        display: flex;
    }
    
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: #c4c4c4;
        
    }
    
    .avatar img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover;
    }
    
    .breadCrumbItem {
        transition: ease-in-out 250ms;
    }
    
    .breadCrumbItem:hover,
    .breadCrumbItem.active {
        background-color: #121418;
        color: #efeff4 !important;
    }
    
    .appMobileAside {
        width: auto !important;
    }
    
    .appMobileAside .p-sidebar-header {
        display: none;
    }
    
    .appMobileAside .p-sidebar-content {
        padding: 0;
    }
    
    /* #mobileSidebarOpener {
        display: none;
    }
    
    @media screen and (max-width: 1200px) {
        #mobileSidebarOpener {
                  display: block;
        }
    } */
    
    #mobileSidebarOpener {
        display: none;
    }
    
    @media screen and (max-width: 1200px) {
        #mobileSidebarOpener {
                  display: block;
        }
    }
    
    .searchbar-container {
        background: #ececec;
        padding: 8px 20px;
        min-width: 200px;
        max-width: 450px;
        width: 60%;
        font-size: 17px;
        font-weight: 500;
        color: #807a7a;
        cursor: text;
        transition: 300ms ease-in-out;
    }
    .searchbar-container:hover {
        background: #ccc;
    }
    .searchbar-container .p-button-label {
        margin-left: 10px;
        font-weight: 400 !important;
    }
    .searchbar-container .search-command {
        font-size: 13px;
    }
    @media screen and (max-width: 1200px) {
        #breadcrumb {
                  display: none !important;
        }
    }