
body {
    overflow-y: hidden !important
}
.logo-container {
    width: 105px;
    height: 65px;
    /* background-color: #fff; */
    /* background-color: #a66060; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 300ms opacity;
}
aside.minimized .logo-container {
    opacity: 0;
}
/*  */
.logo {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* margin-left: 60px; */
    background-color: inherit;
}
.app-brandName {
    color: #013028;
    opacity: 1;
    transition: 300ms opacity;
}
aside.minimized .app-brandName {
    opacity: 0;
}
.brandSubName {
    color: #525602;
    opacity: 1;
    transition: 300ms opacity;
}
aside.minimized .brandSubName {
    opacity: 0;
}

/* style={{ background: 'linear-gradient(rgba(156, 90 ,216, 0.90), rgba(18 ,9 ,117, 0.30))' }} */
aside {
  
    background-color:#d32f2f;
    /* background: linear-gradient(rgba(226, 211, 239, 0.9), rgba(18 ,9 ,117, 0.30)); */
    /* min-width: 300px; */
    /* max-width: 300px; */
    width: 300px;
    height: 100vh;
    /* background-image: url("/images/siderbar.jpg"); */
    background-position: top;
    background-size: 100% 100%;
    display: flex;
    transition: 300ms width;
    background-repeat: no-repeat;
}


aside.minimized {
    width: 75px;
}
nav {
    overflow-x: hidden;
    overflow-y: scroll;
}
nav {
    scrollbar-width: auto;
    scrollbar-color: #f3f3f3;
}
nav::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 10px;
}

nav::-webkit-scrollbar-track {
    /* background: #592333; */
    background-color: #c9bdbd;
    padding: 1px;
}

nav::-webkit-scrollbar-thumb {
    background-color: #512b2b;
    border-radius: 10px;
}
.nav-item a .menu-title {
    font-weight: 400;
    opacity: 1;
    transition: 300ms opacity;
    white-space: nowrap;
}

aside.minimized .nav-item a .menu-title{
    opacity: 0;
}
.nav-item a {
    color: #f6f3f3;
    transition: ease-in-out 300ms;
}
.nav-item a .down_caret {
    transition: transform ease-in-out 300ms;
}
.nav-item a[aria-expanded="true"] .down_caret {
    transform: rotate(90deg);
}
.nav-item a:hover {
    background-color: #2f333a;
    color: #f5f1f1 !important;
}
.nav-item.active a {
    background-color: #143d8f;
    color: #f5f2f2 !important;
}
.menu-icon {
    width: 35px;
}

hr {
    background-color: red;
}
.button-close{
display: none;
}
.d-sidebar{
display: none;
}
@media screen and (max-width: 1200px) {
    #desktop-sidebar {
              display: none;
    }
}





































